section {
  font-size: 0.24rem;
}

.wrapper-box {
  position: relative;
  z-index: 20;
  margin-top: 0;
  box-sizing: border-box;
  padding-top: 1.76rem;
  min-height: 100%;
}

.data-box ul.select-box .dpdown-toggle span {
  font-size: 0.28rem;
  max-width: 1.4rem;
}