section {
  font-size: 0.24rem;
}

.wrapper-box {
  position: relative;
  z-index: 20;
  margin-top: 0;
  box-sizing: border-box;
  padding-top: 1.76rem;
  min-height: 100%;
}

.data-box ul.select-box .dpdown-toggle span {
  font-size: 0.28rem;
  max-width: 1.4rem;
}

.md-activity-indicator {
  position: fixed;
  top: 50%;
  z-index: 10000;
  left: 50%;
  transform: translate(-50%);
}

.more {
  font-size: 0.28rem;
  line-height: 0.48rem;
  color: #9b9b9b;
}